@media only screen and (max-width: 480px) {
    #all{
      min-width: none;  

    }
    #grid-card{
        grid-template-columns: auto;
    }
    #second-section{
        flex-direction: column;
        
    }
    #fourth-section{
        flex-direction: column;
        width: 100%;
    }
    #home-footer{
        flex-direction: column;
    }

}