*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.7;
    
}
/* first container */
.container {
    margin: auto;
    max-width: 1024px;
    overflow: auto;
    padding: 0 20px;
}
.btn {
    display: inline-block;
    font-size: 21px;
    border: 1px solid;
    background: #333;
    padding: 13px 9px;
    cursor: pointer; 
    color: white;
    margin-bottom: 50px;


}
.btn:hover {
    
    background-color: white;
    color: black;
}
/* back ground image */
#all{
   background-image: url(/image/img5.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   
  
   height: 100%;
   
    
    
    
    text-align: center;
    
    padding-top: 50px;
}
.container h1{
    color: white;
    font-size: 35px;
    padding: 30px;

}
#all .first-para{
      color: coral;
      padding-bottom: 27px;
      font-size: 20px;
      font-weight: bold;
      font-style: italic;

}

#second-section{
    width: 50%;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    
    justify-content: space-between;
    
  
   
    

}
.second-para{
    padding: 20px;
    color: black;
   
    box-sizing: border-box;
    padding: 30px;
    text-align: justify;
    font-size: 16px;

    
}
.second-head{
    text-align: center;
    padding-top: 42px;
    font-size: 30px;

}

.card{
    max-width: 300px;
    
    margin: auto;
    text-align: center;
    
    background-color: white;
}
#grid-card{
    display: grid;
   
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    justify-content: center;
    padding: 50px;
    background-color: black;
}

#grid-card h1{
    color: black;
    padding: 20px;
}


.para{
    color: black;
    padding: 27px;
    text-align: justify;
}
.third-section{
    height: 40%;
}
.third-section h1{
    text-align: center;
    padding: 36px;
    font-size: 30px;
    color: black;
    
}
.third-para{
    text-align: center;
    font-size: 18px;
    padding: 26px;
    

}
/* fourth section */
#fourth-section {
    display: flex;
    
}

.last{
    /* float: left; */
    /* width: 50%; */
    height: 40%;
    text-align: center;
    padding: 40px 30px;
    overflow: hidden;
    background-color:cornflowerblue
    
}
.text{
    color: white;
    font-size: 28px;
}
.text1{
    color: white;
    font-size: 18px;
    padding: 15px;
    text-align: justify;
}

.contact{
    color: white;
    font-size: 19px;
    /* padding: 15px; */
    
}

.second-half{
   
    /* width: 50%; */
    height: 50%;
    text-align: center;
    padding: 40px 30px;
    text-align: justify;
    overflow: hidden;
    background-color: black;
}
.second{
    color: white;
    font-size: 28px;
     padding: 10px;
     text-align: center;
}

.second1{
    color: white;
    font-size: 18px;
    padding: 15px;
    text-align: justify;

}
/* footer */
#home-footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* padding-right: 32px; */
    background: black;

    color: whitesmoke;
    padding: 15px;
    border-top: 1px solid gray;
}
.footer-para{
    font-size: 18px;
}
.footer-para a{
    text-decoration: none;
}



