*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;

}
.container{
   margin: 0 auto;
   width: 80vw;
   background-color: lightblue;
   .header{
       display: flex;
       justify-content:space-between;
       padding: 20px;
   }


}